.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.counter {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.rmvIcon {
  margin-right: 0.5rem;
}

.addIcon {
  margin-left: 0.5rem;
}

@media (max-width: 1535px) {
  .counter {
    font-size: 0.9rem;
  }
}

@media (max-width: 1199px) {
  .counter-container {
    gap: 0;
  }

  .counter {
    font-size: 0.8rem;
  }
}

@media (max-width: 899px) {
  .counter {
    font-size: 0.7rem;
  }
}
