.item-detail-card {
  display: flex;
  max-width: 50vw;
  gap: 1rem;
  padding: 1rem;
}

.item-detail-img {
  height: 40vh;
  width: 40vh;
}

.item-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item-detail-text {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.no-stock-container {
  padding: 0.3rem 1.5rem;
  border: 3px solid #d92525;
  border-radius: 5px;
  color: #d92525;
  margin-bottom: 2.5rem;
}
